In [22]:
# importo la libreria necesaria
import mysql.connector
  
#Creo la conexion a la base de datos estableciendo los parametros adecuados
dataBase = mysql.connector.connect(
  host ="localhost",
  user ="root",
  passwd ="admin",
  # database = "practicum" 
)
 
print(dataBase)
  
# Disconnecting from the server
#dataBase.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002C97B90F310>

In [23]:
# El cursor lo utilizo para enrutar a la base de datos 
cursorObject = dataBase.cursor()

In [7]:
#Linea para crear una base de datos
cursorObject.execute("CREATE DATABASE practicum") # Ejecutar una sola vez

In [13]:
# Establesco una tabla dentro de la base de datos
# Ejecutar una sola vez
tablapruebas = """CREATE TABLE CUMPLEANIOS (
nombre VARCHAR(30) NOT NULL,
dia INT NOT NULL,
mes VARCHAR(15) NOT NULL,
aniosactuales INT NOT NULL
)"""

cursorObject.execute(tablapruebas)

In [14]:
# Creamos el query para insert 
# Ejecutar una sola vez
paraInsertar = """INSERT INTO CUMPLEANIOS (nombre, dia, mes, aniosactuales)\
VALUES (%s, %s, %s, %s)"""

In [15]:
# Probamos insertar una fila en la tabla cumpleaños
valor = ("Edgar",28,"julio",18)

cursorObject.execute(paraInsertar, valor)
dataBase.commit()

In [16]:
# Probamos insertar varias filas a la vez en la base de datos
datosCumpleaños = [
    ("Julio",5,"Septiembre",19),
    ("Kevin",6,"julio",18),
    ("Anita",17,"agosto",23),
    ("Carolina",13,"abril",19),
    ("Richard",27,"octubre",20),
    ("Yamile",26,"octubre",16)
]

cursorObject.executemany(paraInsertar, datosCumpleaños)
dataBase.commit()

In [17]:
# Actualizamos un campo en la tabla cumpleaños 
actualizar = "UPDATE CUMPLEANIOS SET aniosactuales = 22 WHERE nombre ='Anita'"

cursorObject.execute(actualizar)
dataBase.commit()

In [18]:
# Añadimos un campo adicional a la tabla cumpleaños
addCampo = "ALTER TABLE CUMPLEANIOS ADD nota VARCHAR(300) DEFAULT NULL"

cursorObject.execute(addCampo)
dataBase.commit()

In [19]:
# Actualizamos un campo en todas las filas de una tabla 
actualizartodos = "UPDATE CUMPLEANIOS SET nota = 'No olvidarlo'"

cursorObject.execute(actualizartodos)
dataBase.commit()

In [24]:
# Consulta de una tabla

consultaTodo = "SELECT * FROM practicum.cumpleanios"

cursorObject.execute(consultaTodo)

resultadoUno = cursorObject.fetchall()

for x in resultadoUno:
    print(x)

('Edgar', 28, 'julio', 18, 'No olvidarlo')
('Julio', 5, 'Septiembre', 19, 'No olvidarlo')
('Kevin', 6, 'julio', 18, 'No olvidarlo')
('Anita', 17, 'agosto', 22, 'No olvidarlo')
('Carolina', 13, 'abril', 19, 'No olvidarlo')
('Richard', 27, 'octubre', 20, 'No olvidarlo')
('Yamile', 26, 'octubre', 16, 'No olvidarlo')

In [25]:
# Consulta selectiva de una tabla
consultaSelectiva = """SELECT * FROM practicum.cumpleanios
WHERE (aniosactuales < 20) AND (mes = 'julio')"""

cursorObject.execute(consultaSelectiva)

resultadoDos =  cursorObject.fetchall()

for x in resultadoDos:
    print(x)

('Edgar', 28, 'julio', 18, 'No olvidarlo')
('Kevin', 6, 'julio', 18, 'No olvidarlo')

In [26]:
cursorObjectDos = dataBase.cursor(dictionary=True)

cursorObjectDos.execute(consultaTodo)

resultadoTres = cursorObjectDos.fetchall()

for x in resultadoTres:
    print(x)

{'nombre': 'Edgar', 'dia': 28, 'mes': 'julio', 'aniosactuales': 18, 'nota': 'No olvidarlo'}
{'nombre': 'Julio', 'dia': 5, 'mes': 'Septiembre', 'aniosactuales': 19, 'nota': 'No olvidarlo'}
{'nombre': 'Kevin', 'dia': 6, 'mes': 'julio', 'aniosactuales': 18, 'nota': 'No olvidarlo'}
{'nombre': 'Anita', 'dia': 17, 'mes': 'agosto', 'aniosactuales': 22, 'nota': 'No olvidarlo'}
{'nombre': 'Carolina', 'dia': 13, 'mes': 'abril', 'aniosactuales': 19, 'nota': 'No olvidarlo'}
{'nombre': 'Richard', 'dia': 27, 'mes': 'octubre', 'aniosactuales': 20, 'nota': 'No olvidarlo'}
{'nombre': 'Yamile', 'dia': 26, 'mes': 'octubre', 'aniosactuales': 16, 'nota': 'No olvidarlo'}

In [23]:
dataBase.close()